<%# config %>
<% img_keys = [ :path, :thumb, :basic, :advanced ] %>
<% times = [ :created ] %>
<% editable = [ :name, :image_description, :keywords ] %>

<%# fields that require special attention %>
<% ignore = [ :urn, :edited ] + img_keys + times %>

<%# now begins the markup %>
<div class="image-full">
	<div class="display">
		<img src="<%= imgSrc(@img[:basic]) %>" />
		<div class="metadata">
			
			<%# different image sizes %>
			<div class="size">
				<% img_keys.each do |key| %>
				<a class="button tiny secondary" href="<%= imgSrc(@img[key]) %>"><%= "#{key.capitalize} #{dimensions(key)}" %></a>
				<% end %>
			</div>
			
			<%# creation and edit times %>
			<div class="times">
				<% times.each do |key| %>
				<%= render "shared/timestamp", :locals => { :time => @img[key], :label => key.to_s.capitalize } %>
				<% end %>
			</div>
			
			<%# values table %>
			<div class="values">
				<table>
					<% @img.each do |key,val| %>
					<% if ignore.include?(key) == false %>
					<tr>
						<td class="key"><%= labelify(key) %>:</td>
						<td class="value"><%= val %></td>
						<td><% if editable.include?(key) == true %><a class="edit"><img src="http://placehold.it/10x10" /></a><% end %></td>
					</tr>
					<% end %>
					<% end %>
				</table>
			</div>
			
		</div>
	</div>
	<div class="clearfix"></div>
</div>