<div class="subregion-full brick" data-urn="<%= @sub[:urn] %>">
	<!--
	<div class="urn"><%= @sub[:urn] %></div>
	-->
	<div class="wrapper">
		<%= render "subregion/cite_urn", :locals => { :sub => @sub } %>
		<img src="<%= imgSrc(@sub[:cropped])%>" />
		<div class="caption"><%= @sub[:caption] %></div>
		<div class="user"><%= urnLeaf( @sub[:user] ) %></div>
		<%= render "shared/minitime", :locals => { :time => @sub[:created] } %>
	</div>
</div>