<div class="row collection-box">
	<%# IMAGES %>
	<div class="columns small-12 medium-4 samples">
		<% if @col.has_key?(:images) %>
			<% @col[:images].each do |image| %>
			<div><%= image %></div>
			<% end %>
		<% end %>
		<div class="clearfix"></div>
	</div>
	
	<%# METADATA %>
	<div class="columns small-8 medium-6 metadata">
		
		<%# NAME %>
		<h2 class="name"><%= @col[:name] %></h2>
		<div class="cite_urn"><%= @col[:cite_urn] %></div>
		<div class="clearfix"></div>
		
		<%# COUNTS %>
		<h3 class="value-count"><span class="n"><%= count(@col[:images]) %></span> images</h3>
		<h3 class="value-count"><span class="n"><%= count(@col[:subcollections]) %></span> subcollections</h3>
		<div class="clearfix"></div>
		
		<%# KEYWORDS %>
		<% if @col.has_key?(:keywords) && @col[:keywords].length > 0 %>
		<div class="keywords">
			<% @col[:keywords].each do |keyword| %>
			<a href="" class="keyword"><%= keyword %></a>
			<% end %>
		</div>
		<% end %>
		
		<%# DATES %>
		<div class="date-person">
			<h3 class="header">Last Updated</h3>
			<h3 class="date"><%= readTime(@col[:edited]) %></h3>
		</div>
		<div class="date-person">
			<h3 class="header">Created</h3>
			<h3 class="date"><%= readTime(@col[:created]) %></h3>
		</div>
		
	</div>
	
	<%# ACTIVATE %>
	<div class="columns small-4 medium-2">
		<a data-urn="<%= @col[:urn] %>" class="button secondary tiny dark activate">Select</a>
	</div>
</div>