<%# Hash the collection been CITEified %>
<% pre = Rails.configuration.url_root %>
<% citeified = CiteHelper.exists?( @col ) %>

<div data-urn="<%= @col[:urn] %>" class="collection-box brick">
	<div class="wrapper">
		<%# IMAGES %>
		<div class="samples">
			<% if @col.has_key?(:images) %>
				<% @col[:images].each_with_index do | urn, i | %>
				<% if i > 4 %>
					<span class="total">...<%= @col[:images].length %> total</span>
					<% break %>
				<% end %>
				<% img = imgPreview( urn ) %>
				<img src="<%= img %>" />
				<% end %>
			<% end %>
		</div>
		
		<%# METADATA %>
		<div class="metadata">
			
			<%# NAME %>
			<h2 class="name"><%= @col[:name] %></h2>
			
			<%# CITE LINK %>
			<% if citeified == true  %>
			<div class="cite_urn">
				<a href="<%= pre %>/collection/report/<%= @col[:cite_urn].urn_to_path %>"><%= @col[:cite_urn] %></a>
			</div>
			<img class="citeified" src="<%= pre %>/img/check.svg" />
			<% end %>
						
			<%# KEYWORDS %>
			<% if @col.has_key?( :keywords ) && @col[:keywords].length > 0 %>
			<div class="keywords">
				<% @col[:keywords].each do |keyword| %>
				<a href="" class="keyword"><%= keyword %></a>
				<% end %>
			</div>
			<% end %>
		</div>
		
		<%# ACTIVATE %>
		<div>
			<% if citeified == false %>
			<a data-urn="<%= @col[:urn] %>" class="button secondary tiny dark activate">Select</a>
			<a data-urn="<%= @col[:urn] %>" class="button secondary tiny dark citeify">CITEify</a>
			<% end %>
		</div>
		
		<%# DATES %>
		<div class="date-person smaller"><%= shortTime( @col[:edited] ) %></div>
	</div>
	<div class="clearfix"></div>
</div>